[submodule "LATEST/BswM"]
	path = LATEST/BswM
	url = git@github.com:NAAGRAAJ-HM/BswM.git
[submodule "LATEST/Dem"]
	path = LATEST/Dem
	url = git@github.com:NAAGRAAJ-HM/Dem.git
[submodule "LATEST/Det"]
	path = LATEST/Det
	url = git@github.com:NAAGRAAJ-HM/Det.git
[submodule "LATEST/EcuAb"]
	path = LATEST/EcuAb
	url = git@github.com:NAAGRAAJ-HM/EcuAb.git
[submodule "LATEST/EcuM"]
	path = LATEST/EcuM
	url = git@github.com:NAAGRAAJ-HM/EcuM.git
[submodule "LATEST/NvM"]
	path = LATEST/NvM
	url = git@github.com:NAAGRAAJ-HM/NvM.git
[submodule "LATEST/Os"]
	path = LATEST/Os
	url = git@github.com:NAAGRAAJ-HM/Os.git
[submodule "LATEST/SchM"]
	path = LATEST/SchM
	url = git@github.com:NAAGRAAJ-HM/SchM.git
[submodule "LATEST/Swc_EcuM"]
	path = LATEST/Swc_EcuM
	url = git@github.com:NAAGRAAJ-HM/Swc_EcuM.git
[submodule "LATEST/Swc_Os"]
	path = LATEST/Swc_Os
	url = git@github.com:NAAGRAAJ-HM/Swc_Os.git
[submodule "LATEST/WdgM"]
	path = LATEST/WdgM
	url = git@github.com:NAAGRAAJ-HM/WdgM.git
[submodule "LATEST/StartUp"]
	path = LATEST/StartUp
	url = git@github.com:NAAGRAAJ-HM/StartUp.git
