[submodule "LATEST/BswM"]
	path = LATEST/BswM
	url = git@github.com:NAAGRAAJ-HM/BswM.git
[submodule "LATEST/Dem"]
	path = LATEST/Dem
	url = git@github.com:NAAGRAAJ-HM/Dem.git
[submodule "LATEST/Det"]
	path = LATEST/Det
	url = git@github.com:NAAGRAAJ-HM/Det.git
[submodule "LATEST/EcuAb"]
	path = LATEST/EcuAb
	url = git@github.com:NAAGRAAJ-HM/EcuAb.git
[submodule "LATEST/EcuM"]
	path = LATEST/EcuM
	url = git@github.com:NAAGRAAJ-HM/EcuM.git
[submodule "LATEST/NvM"]
	path = LATEST/NvM
	url = git@github.com:NAAGRAAJ-HM/NvM.git
[submodule "LATEST/Os"]
	path = LATEST/Os
	url = git@github.com:NAAGRAAJ-HM/Os.git
[submodule "LATEST/SchM"]
	path = LATEST/SchM
	url = git@github.com:NAAGRAAJ-HM/SchM.git
[submodule "LATEST/Swc_EcuM"]
	path = LATEST/Swc_EcuM
	url = git@github.com:NAAGRAAJ-HM/Swc_EcuM.git
[submodule "LATEST/Swc_Os"]
	path = LATEST/Swc_Os
	url = git@github.com:NAAGRAAJ-HM/Swc_Os.git
[submodule "LATEST/WdgM"]
	path = LATEST/WdgM
	url = git@github.com:NAAGRAAJ-HM/WdgM.git
[submodule "LATEST/StartUp"]
	path = LATEST/StartUp
	url = git@github.com:NAAGRAAJ-HM/StartUp.git
[submodule "LATEST/Csm"]
	path = LATEST/Csm
	url = git@github.com:NAAGRAAJ-HM/Csm.git
[submodule "LATEST/SokFm"]
	path = LATEST/SokFm
	url = git@github.com:NAAGRAAJ-HM/SokFm.git
[submodule "LATEST/Vkms"]
	path = LATEST/Vkms
	url = git@github.com:NAAGRAAJ-HM/Vkms.git
[submodule "LATEST/FiM"]
	path = LATEST/FiM
	url = git@github.com:NAAGRAAJ-HM/FiM.git
[submodule "LATEST/StbM"]
	path = LATEST/StbM
	url = git@github.com:NAAGRAAJ-HM/StbM.git
[submodule "LATEST/ComM"]
	path = LATEST/ComM
	url = git@github.com:NAAGRAAJ-HM/ComM.git
[submodule "LATEST/Com"]
	path = LATEST/Com
	url = git@github.com:NAAGRAAJ-HM/Com.git
[submodule "LATEST/SecOC"]
	path = LATEST/SecOC
	url = git@github.com:NAAGRAAJ-HM/SecOC.git
[submodule "LATEST/Dcm"]
	path = LATEST/Dcm
	url = git@github.com:NAAGRAAJ-HM/Dcm.git
[submodule "LATEST/PduR"]
	path = LATEST/PduR
	url = git@github.com:NAAGRAAJ-HM/PduR.git
[submodule "LATEST/Nm"]
	path = LATEST/Nm
	url = git@github.com:NAAGRAAJ-HM/Nm.git
